@model CodeModel

@{
    ViewData["Title"] = "Home Page";
    var count = 1;
}
<br />
<h2>Welcome to the secret code decoding interface</h2>
<br />

@using (Html.BeginForm("CheckFrequencyForm", "Frequency", FormMethod.Post))
{
    if (Model != null)
    {
        @Html.HiddenFor(m => m.MonogramsAlreadyOccupied, Model.MonogramsAlreadyOccupied)
    }

    <div class="form-group">
        @Html.LabelFor(m => m.InputSecretMessage)
        @Html.TextBoxFor(m => m.InputSecretMessage, new { @class = "form-control", @style = "width: 400px" })
        @Html.ValidationMessageFor(m => m.InputSecretMessage)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.StrategyModel.StrategyType)
        @Html.DropDownListFor(m => m.StrategyModel.StrategyType, new SelectList(Enum.GetValues(typeof(StrategyTypes))), "",
                                                               new { @class = "form-control", @style = "width: 400px" })
        @Html.ValidationMessageFor(m => m.StrategyModel.StrategyType)
    </div>
    <br />
    @if (Model != null && !String.IsNullOrWhiteSpace(Model.OutputDecodedMessage))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.OutputDecodedMessage)
            <p style="color:#3498db; word-wrap:break-word">@Model.OutputDecodedMessage</p>
        </div>
    }
    <br />
    <br />
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Check Frequency for the Entered Code</button>
    <br />
    <br />
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Frequency Analysis
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Character</th>
                                <th scope="col">Number of Occurences</th>
                                <th scope="col">Frequency Percentage</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (ViewData["MonogramDataModels"] != null)
                            {
                                @foreach (var monogramData in ViewData["MonogramDataModels"] as IList<MonogramDataModel>)
                                {
                                    <tr>
                                        <td scope="row">@(count++)</td>
                                        <td>@monogramData.Character/td>
                                        <td>@monogramData.Occupied</td>
                                    </tr>

                                }
                            }


                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}